html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, intial-scale=1.0')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        script(src="/static/bootstrap/js/jquery.min.js")
        script(src="/static/bootstrap/js/bootstrap.min.js")
        link(rel="stylesheet", href="/static/bootstrap/css/bootstrap.min.css")
        title My Projects | Jack Dunfey
        script(src="/static/scripts/holder.js")
        link(rel="stylesheet" href="/static/styles/projects.css")
        script(src="https://kit.fontawesome.com/edf5490e4b.js" crossorigin="anonymous")
    body
        nav.navbar.navbar-expand-md.navbar-light.bg-light
                a.navbar-brand(href="/")
                    img.d-inline-block.align-top.mr-2(src="/static/images/profile_picture.jpg", width="30", height="30", alt="Profile Picture", style="border-radius: 50%;")
                    | Jack Dunfey
                button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbar", aria-controls="navbar" aria-expanded="false", aria-label="Toggle Navigation")
                    span.navbar-toggler-icon
                div.collapse.navbar-collapse#navbar
                    ul.navbar-nav.mr-auto.w-100
                        li.nav-item
                            a.nav-link(href="/") Home
                        li.nav-item
                            a.nav-link(href="/aboutme") About Me
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle.active(href="#", id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Projects
                            .dropdown-menu(aria-labelledby="navbarDropdown")
                                a.dropdown-item(href="/projects") Project Menu
                                .dropdown-divider
                                a.dropdown-item(href="/project/1") !{proj1Title}
                                a.dropdown-item(href="/project/2") !{proj2Title}
                                a.dropdown-item(href="/project/3") !{proj3Title}
                                a.dropdown-item(href="/project/4") !{proj4Title}
                                a.dropdown-item(href="/project/5") !{proj5Title}
                                a.dropdown-item(href="/project/6") !{proj6Title}
                                a.dropdown-item(href="/project/7") !{proj7Title}
                                a.dropdown-item(href="/project/8") !{proj8Title}
                                a.dropdown-item(href="/project/9") !{proj9Title}
                                a.dropdown-item(href="/project/10") !{proj10Title}
                        li.ml-auto.nav-item
                            a.nav-link(href="/contact") Contact Me
        div.container-fluid(style="background-color: #fdfdfd;")
            .row.justify-content-center
                div.carousel.slide#project_carousel(data-ride="carousel")
                    ol.carousel-indicators
                        li.active(data-target="#project_carousel", data-slide-to="0")
                        li(data-target="#project_carousel", data-slide-to="1")
                        li(data-target="#project_carousel", data-slide-to="2")
                    .carousel-inner
                        .carousel-item.active
                            a(href="/pr")
                                img.d-block.w-100(src="/static/images/projects/phishing.jpg", alt="Facebook Phishing Image", style="height: 450px;")
                            .carousel-caption.d-none.d-md-block
                                h5.text-primary Phishing Education Tool
                                p.text-primary This project was made as a phishing demonstration and educational tool.
                        .carousel-item
                            img.d-block.w-100(src="/static/images/projects/maze.png", alt="Photo of the maze", style="height: 450px;")
                            .carousel-caption.d-none.d-md-block
                                h5.text-primary Maze Escape
                                p.text-primary You become a character in a dark maze and must maneuver your way to the exit.
                        .carousel-item
                            img.d-block.w-100(src="/static/images/projects/flappybirdAI.png", alt="Photo of Flabbybird AI demo", style="height: 450px;")
                            .carousel-caption.d-none.d-md-block
                                h5.text-primary FlappyBird AI
                                p.text-primary A functional example of machine learning with customizable settings.
                    a.carousel-control-prev(href="#project_carousel", role="button", data-slide="prev")
                        span.carousel-control-prev-icon(aria-hidden="true")
                        span.sr-only Previous
                    a.carousel-control-next(href="#project_carousel", role="button", data-slide="next")
                        span.carousel-control-next-icon(aria-hidden="true")
                        span.sr-only Next
            mixin project(name="Project Title", description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptate veniam nemo aut id.", img_src="holder.js/100px200")
                .col-md
                    a.deco-none.project.w-100
                        .card.flip-card(style="height: 276px;")
                            .flip-card-inner
                                .flip-card-front
                                    img.card-img-top.mb-4(src=img_src, alt="these images should show up", style="height: 200px;")
                                    h5.card-title
                                        //- span.fa-stack.fa-sm(style="backface-visibility: hidden;")
                                        //-     i.fa.fa-square.fa-stack-2x
                                        //-     i.fa.fa-terminal.fa-stack-1x.fa-inverse
                                        | !{name}
                                .flip-card-back
                                    br
                                    h5.card-title Project Description
                                    .card-text.px-3= description
            .mb-3#projects
                .row.mt-md-4.w-md-80.project-row(style="margin:auto;")
                    +project(proj1Title, proj1Description, proj1Src)
                    +project(proj2Title, proj2Description, proj2Src)
                    +project(proj3Title, proj3Description, proj3Src)
                    +project(proj4Title, proj4Description, proj4Src)
                .row.mt-md-4.w-md-80.project-row(style="margin:auto;")
                    +project(proj5Title, proj5Description, proj5Src)
                    +project(proj6Title, proj6Description, proj6Src)
                    +project(proj7Title, proj7Description, proj7Src)
                    +project(proj8Title, proj8Description, proj8Src)
                .row.mt-md-4.w-md-80.project-row(style="margin:auto;")
                    +project(proj9Title, proj9Description, proj9Src)
                    +project(proj10Title, proj10Description, proj10Src)
        script [...document.getElementsByClassName("deco-none")].forEach((link,i)=>link.href=`/project/${i+1}`);
